@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Cuprum:ital,wght@0,400..700;1,400..700&family=Potta+One&display=swap');

h1 {
  font-family: 'Cuprum';
  font-size: 30px;
}

h2 {
  font-family: 'Cuprum';
  font-size: 25px;
}

h3 {
  font-size: 20px;
}

.price-text {
  font-family: 'Cuprum';
  font-size: 20px;
}

.box-shadow {
  box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.57);
}

.not-found {
  width: 300px;
  height: 250px;
  position: absolute;
  top: calc((100vh - 250px)/2);
  left: calc((100% - 300px)/2);

  a {
    color: #0000EE;
  }
}
